.tMin {
  opacity: 0.5;
  margin-left: 10px;
}

.fade_rule {
  height: 2px;
  background-color: blueviolet;
  width: 66em;
  margin: 30px auto;
  background-image: linear-gradient(left, white 2%, #e6e6e6 50%, white 98%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    right bottom,
    color-stop(0.02, white),
    color-stop(0.5, blueviolet),
    color-stop(0.98, white)
  );
}
