.listParameters {
  text-align: center;
}

.listItems {
  display: inline-block;
  text-align: left;
}

.temperature {
  font-size: 55px;
  color: blueviolet;
  font-weight: 300;
}

.temperature .units {
  position: relative;
  font-size: 20px;
  top: -20px;
  margin-left: 2px;
  cursor: pointer;
}

.date {
  color: gray;
  font-style: italic;
}

h3 {
  font-size: 22px;
  font-weight: 700;
}
